{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    <form method="post">
        {% csrf_token %}
        <div class="card" style="width: 50rem;">
        <div class="card-header">
        <h6 class="card-text">Fiche d'equipements :</h6>
        </div>
        <div class="card-body">
            {% crispy form %}
        </div>
        <button type="submit">Save</button>
        </div>
    </form>
</body>
</html>